.banner_wrapper{
    position: relative;
    width: 100%;
    height: auto;
}
.banner_wrapper_img{
    width: 100%;
    height: auto;
}
.banner_wrapper_img_sintium{
    position: absolute;
    width: 50%;
    height: auto;
    right: 0;
    top: 3%;
}
.banner_wrapper_img_urania{
    position: absolute;
    width: 50%;
    height: auto;
    right: 0;
    top: 15%;
}
