.container{
    width: 100%;
    max-width: 1200px;
    padding: 30px 0;
    height: auto;
    background-color: darken(#94999b,50%);
    margin-right: auto;
    margin-left: auto;
    display: block;
    position: relative;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 0px 5px 5px rgba(23, 24, 25, 80%);

}
