<aside class="sidebar">
    <img class="avto_aside" src="assets/images/TruckAside.jpg" alt="">
    <div class="card_sidebar">

    </div>
    <div class="total">
      <span class="total_sapan"></span>
       <h4>Total Price</h4>
        <div class="delivery_price" data-delivery>0</div>
        <div class="total_price" data-price>0</div>
    </div>
    <div class="btn_aside">
        <button class="red_btn_aside">
            <p class="span_btn_aside">купить масло</p>
        </button>
        <button class="green_btn_aside">
        <p class="span_btn_aside">заменить масло</p>
        </button>
    </div>
</aside>

