<aside class="sidebar">
    <img class="avto_aside" src="assets/images/TruckAside.jpg" alt="">
    <div class="txt_aside">
       <h3 class="h3_sidebar">PETRONAS Urania</h3>
        <p>
            Чем дольше срок службы двигателя, тем лучше. PETRONAS Urania с StrongTech™ - это наш ассортимент высококачественных моторных масел, разработанных для эффективной защиты от накопления отложения двигателя и поддержания оптимальной вязкости масла для более длительного срока службы двигателя. Он защищает ваш двигатель от того, что жизнь бросает на него.
        </p>
    </div>
    <div class="btn_aside">
        <button class="red_btn_aside">
            <p class="span_btn_aside">купить масло</p>
        </button>
        <button class="green_btn_aside">
        <p class="span_btn_aside">заменить масло</p>
        </button>
    </div>
</aside>

