<div class="footer">
    <div class="footer_container">
        <div class="footer_logo"> <img class="footer_img" src="/assets/images/petronas-1.svg" alt=""> <address>г. Воронеж 394001 <br>
            ул. Воронежская д. ? к.?
            </address> tel: +7 (903) 654-23-76 </div>
        <div class="footer_icon">
            <div class="footer_iconc"> <a class="iconc" href="https://vk.com/"><i class="fab fa-vk"></i></a> <a class="iconc" href="https://ok.ru/"><i class="fab fa-odnoklassniki"></i></a> <a class="iconc" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a> <a class="iconc" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a class="iconc" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a> <a class="iconc" href="https://telegram.org/"><i class="fab fa-telegram"></i></a> <a class="iconc" href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a> </div>
        </div>
        <div class="footer_link">
            <ul>
                <li> <a href="">Petronas</a></li>
                <li> <a href="">Petronas</a></li>
                <li> <a href="">Petronas</a></li>
                <li> <a href="">Petronas</a></li>
                <li> <a href="">Petronas</a></li>



            </ul>
            <ul>
               <li> <a href="">Petronas</a></li>
                <li> <a href="">Petronas</a></li>
                <li> <a href="">Petronas</a></li>
                <li> <a href="">Petronas</a></li>
                <li> <a href="">Petronas</a></li>
                </ul>
        </div>
    </div>
    <div class="copiraite">
        <span class="span_copiraite">©</span>
        <div class="copiraite_data" id="data"></div>
        <span class="span_copiraite"> "Масло Petronas в Воронеже"</span> </div>
</div>
