<div class="slider_second">
    <div class="slider" id="Slider">
        <div>
            <div class="intro_container"> <img class="intro_img" src="assets/images/auto_slider.jpg" alt="Масло для двигателя">
                <div class="intro_title_container">
                    <p> Масло для легкового автомобиля </p>
                    <div class="intro_button"> Подробнее </div>
                </div>
            </div>
        </div>
        <div>
            <div class="intro_container"> <img class="intro_img" src="/assets/images/truck_slider.jpg" alt="Масло для грузовика">
                <div class="intro_title_container">
                    <p> Моторное масло для коммерческого транспорта </p>
                    <div class="intro_button"> Подробнее </div>
                </div>
            </div>
        </div>
        <div>
            <div class="intro_container"> <img class="intro_img" src="assets/images/agro_slider.jpg" alt="Смазочные материалы для трактора">
                <div class="intro_title_container">
                    <p> Масла для сельхозтехники </p>
                    <div class="intro_button"> Подробнее </div>
                </div>
            </div>
        </div>
        <div>
            <div class="intro_container"> <img class="intro_img" src="/assets/images/industry_slider.jpg" alt="Масла Petronas для промышленности">
                <div class="intro_title_container">
                    <p> Масла для промышленности </p>
                    <div class="intro_button"> Подробнее </div>
                </div>
            </div>
        </div>
    </div>
</div>
