<div class="wrapper"> <img src="assets/images/petronas-2-white.svg" alt="залить масло Petronas">
    <h1>Купить масла PETRONAS с доставкой в Воронеже</h1>
    <div class="container_btn_shop">
        <button class="btn_shop" data-btn="#sintium">Sintium</button>
        <button class="btn_shop" data-btn="#urania">Urania</button>
        <button class="btn_shop" data-btn="#agro">Agro</button>
    </div>
    <div class="container_shop" id="sintium">
        <div class="card" data-id="01">
                <img class="card_img" src="/assets/images/img-PETRONAS-Syntium-7000-hybrid-0W-20.png" alt="">
                <div class="card_title">
                    <h4 class="h4_card_title">Petronas Sintium 3000</h4>
                </div>
                <div class="card_price">
                    <div class="price_vol">4L</div>
                    <div class="price_cur">2400р</div>
                </div>
                <div class="card_details">
                    <div class="items_control" data-action="minus">-</div>
                    <div class="items_current" data-counter>1</div>
                    <div class="items_control" data-action="plus">+</div>
                </div>
                <button data-cart type="button" class="card_btn">+ в корзину</button>
        </div>
         <div class="card" data-id="02">
                <img class="card_img" src="/assets/images/img-PETRONAS-Syntium-7000-hybrid-0W-20.png" alt="">
                <div class="card_title">
                    <h4 class="h4_card_title">Petronas Sintium 3000</h4>
                </div>
                <div class="card_price">
                    <div class="price_vol">1.7L</div>
                    <div class="price_cur">1600р</div>
                </div>
                <div class="card_details">
                    <div class="items_control" data-action="minus">-</div>
                    <div class="items_current" data-counter>1</div>
                    <div class="items_control" data-action="plus">+</div>
                </div>
                <button data-cart type="button" class="card_btn">+ в корзину</button>
        </div>
    </div>

    <div class="container_shop" id="urania">
        <div class="card" data-id="01">
                <img class="card_img" src="/assets/images/img-PETRONAS-Syntium-7000-hybrid-0W-20.png" alt="">
                <div class="card_title">
                    <h4 class="h4_card_title">Petronas</h4>
                    <p>Sintium 3000</p>
                </div>
                <div class="card_price">
                    <div class="price_vol">4L</div>
                    <div class="price_cur">2400р</div>
                </div>
                <div class="card_details">
                    <div class="items_control" data-action="minus">-</div>
                    <div class="items_current" data-counter>1</div>
                    <div class="items_control" data-action="plus">+</div>
                </div>
                <button data-cart type="button" class="card_btn">+ в корзину</button>
        </div>
    </div>

    <div class="container_shop" id="agro">
        <div class="card" data-id="01">
                <img class="card_img" src="/assets/images/img-PETRONAS-Syntium-7000-hybrid-0W-20.png" alt="">
                <div class="card_title">
                    <h4 class="h4_card_title">Petronas</h4>
                    <p>Sintium 3000</p>
                </div>
                <div class="card_price">
                    <div class="price_vol">4L</div>
                    <div class="price_cur">2400р</div>
                </div>
                <div class="card_details">
                    <div class="items_control" data-action="minus">-</div>
                    <div class="items_current" data-counter>1</div>
                    <div class="items_control" data-action="plus">+</div>
                </div>
                <button data-cart type="button" class="card_btn">+ в корзину</button>
        </div>
    </div>
</div>
