<div class="wrapper"> <img src="assets/images/petronas-2-white.svg" alt="залить масло Petronas">
    <h1>Купить масла PETRONAS в Воронеже</h1>
    <div class="txt_block">
        <h3>НОВАЯ ТЕХНОЛОГИЯ STRONGTECH™ ДОЛЬШЕ ОСТАЕТСЯ ПРОЧНОЙ</h3>
        <p>Новая формула PETRONAS Urania с технологией StrongTech™ разработана таким образом, чтобы оставаться прочной дольше, образуя уникально прочную пленку жидкости, чтобы максимизировать производительность и рентабельность. Недавно усиленные молекулярные цепи блокируют сажу, поддерживая оптимальную вязкость и защищая от износа и окисления, увеличивая интервалы замены масла и срок службы двигателя, а также придавая вашим клиентам необходимую силу для продолжения движения, несмотря ни на что.
        </p>
    </div>
    <div class="nav_main_block">
        <h2>Узнайте, как вы можете купить масло Petronas</h2> <a class="a_nav_main_block" href="">заказать масло</a> </div>
    <div class="banner_wrapper"> <img class="banner_wrapper_img" src="assets/images/truck_banner.jpg" alt="Замена масла в двигателе">
        <div class="banner_wrapper_img_urania"> <img class="banner_wrapper_img" src="assets/images/img_PETRONAS_Urania.png" alt="Купить масло Petronas в Воронеже"> </div>
    </div>
    <div class="txt_block">
        <h3>ПРЕДСТАВЛЯЕМ НОВЫЙ АССОРТИМЕНТ ПРОДУКЦИИ PETRONAS URANIA</h3>
        <p>Ваше моторное масло должно выдерживать все более сложные условия - но обычное масло не обязательно достаточно упругое. Кроме того, более строгие нормы выбросов означают, что многие обычные масла просто не в состоянии удовлетворить эти современные требования.
        Вот почему новая PETRONAS Urania с технологией StrongTech™ разработана для того, чтобы дольше оставаться прочной, образуя уникальную сильную жидкую пленку для увеличения интервалов стока и срока службы двигателя, максимизировать производительность и рентабельность и дать вам прочность ядра, чтобы продолжать движение. </p>
    </div>
    <div class="txt_block_urania">
        <div class="txt_block_urania_block">
            <h3>PETRONAS Urania 5000</h3>
            <p>Предельная прочность сердечника. Наибольшая топливная экономичность интервала слива масла (для 5W-30 вариантов).</p>
        </div>
        <div class="txt_block_urania_block">
            <h3>PETRONAS Urania 3000</h3>
            <p>Повышенная прочность сердечника. Увеличение интервала стока.</p>
        </div>
        <div class="txt_block_urania_block">
            <h3>PETRONAS Urania 1000</h3>
            <p>Прочность базового сердечника. Прочная масляная пленка</p>
        </div>
        <div class="txt_block_urania_block">
            <h3>PETRONAS Urania 800</h3>
            <p>Базовая прочность и защита жидкости.</p>
        </div>
        <div class="txt_block_urania_block">
            <h3>PETRONAS Urania 500</h3>
            <p>Базовая прочность и защита жидкости.</p>
        </div>
    </div>

    <div class="collage_wrapper">
        <div class="collage_wrapper_block">
            <div class="collage_wrapper_img" data-aos="fade-down-right" data-aos-anchor-placement="top-center" data-aos-duration="2000"> <img class="img_collage_wrapper" src="/assets/images/truck4.jpg" alt="масло Petronas для грузовых автомобилей"> </div>
            <div class="collage_wrapper_img" data-aos="fade-down-left" data-aos-anchor-placement="top-center" data-aos-duration="2000">
                <div class="collage_wrapper_txt">
                    <h4>ТАМ ТЯЖЕЛО И СТАНОВИТСЯ ЕЩЕ ТЯЖЕЛЕЕ…</h4>
                    <p> Спрос выше, поездки длиннее, сроки короче, цены выше, ожидания клиентов выше, экологические нормы ужесточаются, а автомобильные технологии развиваются быстрее, чем когда-либо прежде. Тем не менее, перед лицом всего этого вы должны уложиться в более сжатые сроки, достичь более сложных целей и выполнить свою работу. Теперь больше, чем когда-либо, для продолжения движения требуется сила кора, и то же самое относится и к вашему грузовику. Подвергаясь постоянным атакам, двигатель вашего грузовика должен выдержать предельное испытание на устойчивость и бороться, чтобы оставаться сильным перед лицом постоянно растущего и интенсивного давления. Поэтому ваше моторное масло должно быть более сильным, чем когда-либо прежде.
                    </p>
                </div>
            </div>
        </div>
        <div class="collage_wrapper_block">
            <div class="collage_wrapper_img" data-aos="fade-down-right" data-aos-anchor-placement="top-center" data-aos-duration="2000">
                <div class="collage_wrapper_txt">
                    <h4>ОТКРОЙТЕ ДЛЯ СЕБЯ СВОЮ ОСНОВНУЮ СИЛУ</h4>
                    <p> Поскольку ваш грузовик постоянно подвергается нагрузке, ваше моторное масло подвергается повышенному нагреву и вредным отложениям, износ двигателя ускоряется, а производительность автомобиля в конечном итоге снижается, что приводит к увеличению времени простоя, что недопустимо на современном рынке. Чтобы выдерживать неблагоприятную среду внутри двигателя и гарантировать, что ваш грузовик сможет проехать большое расстояние и преуспеть, ваше масло должно быть невероятно долговечным. Ему нужна прочность ядра, чтобы поддерживать оптимальную вязкость и оставаться прочным дольше. Вот почему мы разработали новый PETRONAS Urania с технологией StrongTech™.</p>
                </div>
            </div>
            <div class="collage_wrapper_img" data-aos="fade-down-left" data-aos-anchor-placement="top-center" data-aos-duration="2000"> <img class="img_collage_wrapper" src="/assets/images/truck3.jpg" alt="замена масла в грузовом автомобиле"> </div>
        </div>
        <div class="nav_main_block">
        <h2>Выбери свое масло Петронас</h2> <a class="a_nav_main_block" href="">подобрать масло</a> </div>
        <div class="collage_wrapper_block">
            <div class="collage_wrapper_img" data-aos="fade-up-left" data-aos-anchor-placement="top-center" data-aos-duration="2000"> <img class="img_collage_wrapper" src="assets/images/truck2.jpg" alt="купить масло для коммерческого транспорта"> </div>
            <div class="collage_wrapper_img" data-aos="fade-up-right" data-aos-anchor-placement="top-center" data-aos-duration="2000">
                <div class="collage_wrapper_txt">
                    <h4> ПРОДОЛЖАЙТЕ ДВИГАТЬСЯ ВМЕСТЕ С PETRONAS URANIA</h4>
                    <p> По мере того, как грузовики ваших клиентов находятся в постоянном напряжении, их моторное масло подвергается повышенному нагреву и вредным отложениям, износ двигателя ускоряется, а производительность автомобиля в конечном итоге снижается, что приводит к увеличению времени простоя, что недопустимо на современном рынке. Чтобы выдерживать агрессивную среду внутри двигателя и гарантировать, что их грузовик сможет преодолеть расстояние и преуспеть, масло должно быть невероятно долговечным. Ему нужна прочность ядра, чтобы поддерживать оптимальную вязкость и оставаться прочным дольше. Вот почему мы разработали новый PETRONAS Urania с технологией StrongTech™.</p>
                </div>
            </div>
        </div>
        <div class="collage_wrapper_block">
            <div class="collage_wrapper_img" data-aos="fade-up-left" data-aos-anchor-placement="top-center" data-aos-duration="2000">
                <div class="collage_wrapper_txt">
                    <h4> СТРЕМЛЕНИЕ К УСПЕХУ ПЕРЕД ЛИЦОМ НЕВЗГОД</h4>
                    <p> От борьбы с городскими пробками до изнурительных одиноких дней навигации по сложной местности в самых суровых погодных условиях, нет перерыва между этой работой и следующей работой в качестве оператора-владельца грузовика. Мир всегда движется, а ваши сроки — нет. Долгие дни. Одинокие дороги. Давление, чтобы доставить вовремя, каждый раз. Продолжительные периоды вдали от дома, экстремальные условия, цели, которые необходимо выполнить — там тяжело и становится все труднее. Чтобы продолжать движение во все более сложных условиях, и вы, и ваш автомобиль должны оставаться сильными. Поэтому ваше моторное масло должно быть более сильным, чем когда-либо прежде.</p>
                </div>
            </div>
            <div class="collage_wrapper_img" data-aos="fade-up-right" data-aos-anchor-placement="top-center" data-aos-duration="2000"> <img class="img_collage_wrapper" src="assets/images/truck1.jpg" alt="масло для грузовика"> </div>
        </div>
    </div>
            <h2>ОСНОВНЫЕ ПРЕИМУЩЕСТВА</h2>

    <div class="txt_block_urania">
       <div class="txt_block_urania_block">
           <img class="img_block_urania" src="assets/images/strong.svg" alt="Экономия">
            <h3>Сильный рост бизнеса</h3>
            <p>PETRONAS Urania соответствует последним требованиям OEM в отношении увеличенных интервалов замены и продлевает срок службы автомобилей, способствуя прибыльному росту.</p>
        </div>
        <div class="txt_block_urania_block">
           <img class="img_block_urania" src="assets/images/strong_vehicle.svg" alt="Срок эксплуатации">
            <h3>Высокая производительность автомобиля и двигателя</h3>
            <p>Наша инновационная технология StrongTech™ помогает дольше поддерживать эффективность использования топлива, способствуя повышению общей прочности двигателя и устойчивой производительности.</p>
        </div>
        <div class="txt_block_urania_block">
           <img class="img_block_urania" src="assets/images/strong_environmental.svg" alt="Экологичность">
            <h3>Сильная экологическая ответственность</h3>
            <p>Несмотря на постоянную эволюцию норм выбросов, уникальный состав PETRONAS Urania соответствует самым строгим мировым экологическим стандартам.</p>
        </div>
    </div>
</div>
