<div class="wrapper"> <img src="assets/images/petronas-2-white.svg" alt="залить масло Petronas">
    <h1>Купить масла PETRONAS в Воронеже</h1>
    <div class="txt_block">
        <h3>ПОБЕДИТЕ ВРАГОВ ЭФФЕКТИВНОСТИ</h3>
        <p>Тяжелые условия, долгие часы. Пыль, грязь и копоть. Они являются основной причиной отложений в двигателе, окисления и износа, приводящих к снижению производительности и незапланированным простоям, что приводит к увеличению общей стоимости владения. Наши смазочные материалы для коммерческих транспортных средств предлагают идеальное решение для обеспечения высокой и продолжительной работы вне зависимости от рельефа местности, поэтому вы можете гарантировать, что эффективность вашей машины продлится все сезоны.
        </p>
    </div>
    <div class="nav_main_block">
        <h2>Узнайте, как вы можете купить масло Petronas</h2> <a class="a_nav_main_block" href="">заказать масло</a> </div>
    <div class="banner_wrapper"> <img class="banner_wrapper_img" src="assets/images/agro_banner.jpg" alt="Замена масла в двигателе">
        <div class="banner_wrapper_img_urania"> <img class="banner_wrapper_img" src="/assets/images/img-PETRONAS-Arbor-Engine-Oil.png" alt="Купить масло Petronas в Воронеже"> </div>
    </div>
    <div class="txt_block">
        <h3>ПРЕДСТАВЛЯЕМ НОВЫЙ АССОРТИМЕНТ ПРОДУКЦИИ PETRONAS ARBOR</h3>
    </div>
    <div class="txt_block_urania">
        <div class="txt_block_urania_block">
            <h3>Машинное масло</h3>
            <p>Смазка Low SAPS для двигателей нового поколения с низким уровнем выбросов тракторов, другой сельскохозяйственной и землеройной техники.</p>
        </div>
        <div class="txt_block_urania_block">
            <h3>Трансмиссионное масло</h3>
            <p>Многофункциональная смазка для двигателей, трансмиссий, гидравлических систем и мокрых тормозов сельскохозяйственных машин.</p>
        </div>
        <div class="txt_block_urania_block">
            <h3>Гидравлические масла</h3>
            <p>Гидравлическая жидкость с высоким индексом вязкости, специально предназначенная для гидравлических систем высокого давления сельскохозяйственных машин.</p>
        </div>
        <div class="txt_block_urania_block">
            <h3>Тормозная жидкость</h3>
            <p>Синтетическая тормозная жидкость для тормозных систем сельскохозяйственных и землеройных машин.</p>
        </div>
        <div class="txt_block_urania_block">
            <h3>Антифриз</h3>
            <p>Концентрированный защитный антифриз и охлаждающая жидкость для двигателей тракторов, сельскохозяйственных и землеройных машин.</p>
        </div>
        <div class="txt_block_urania_block">
            <h3>Садоводство</h3>
            <p>Биоразлагаемая смазка специально для пильной цепи.</p>
        </div>
    </div>

    <div class="collage_wrapper">
        <div class="collage_wrapper_block">
            <div class="collage_wrapper_img" data-aos="fade-down-right" data-aos-anchor-placement="top-center" data-aos-duration="2000"> <img class="img_collage_wrapper" src="assets/images/agro1.jpg" alt="масло Petronas для трактора"> </div>
            <div class="collage_wrapper_img" data-aos="fade-down-left" data-aos-anchor-placement="top-center" data-aos-duration="2000">
                <div class="collage_wrapper_txt">
                    <h4>ТЯЖЕЛАЯ РАБОТА, КРУГЛОСУТОЧНО</h4>
                    <p> День и ночь. Вокруг часов. Мир сельского хозяйства и строительства требует долгих часов и тяжелой работы. Ваше оборудование является источником жизненной силы вашего бизнеса. Вот почему вам нужна смазка, которая вас не подведет. Тот, который работает так же надежно, эффективно и неустанно, как того требует ваш бизнес, обеспечивая все, что нужно, — изнутри наружу.
                    </p>
                </div>
            </div>
        </div>
        <div class="nav_main_block">
        <h2>Выбери свое масло Петронас</h2> <a class="a_nav_main_block" href="">подобрать масло</a> </div>
        <div class="collage_wrapper_block">
            <div class="collage_wrapper_img" data-aos="fade-up-left" data-aos-anchor-placement="top-center" data-aos-duration="2000">
                <div class="collage_wrapper_txt">
                    <h4> ВАША ПОВСЕДНЕВНАЯ РАБОТА ТРЕБУЕТ УВЕРЕННОСТИ</h4>
                    <p> Трудно контролировать внешние факторы, которые приводят к деградации двигателя. Вот почему так важно иметь уверенность в том, что происходит внутри вашего двигателя. Наши смазочные материалы борются с сажей, шламом и износом двигателя, обеспечивая исключительную чистоту поршней и оптимальную вязкость. Таким образом, вы можете быть уверены в производительности вашего оборудования до последней капли.</p>
                </div>
            </div>
            <div class="collage_wrapper_img" data-aos="fade-up-right" data-aos-anchor-placement="top-center" data-aos-duration="2000"> <img class="img_collage_wrapper" src="assets/images/agro2.jpg" alt="масло для аграриев"> </div>
        </div>
    </div>
            <h2> ПРЕИМУЩЕСТВА</h2>

    <div class="txt_block_urania">
       <div class="txt_block_urania_block">
           <img src="assets/images/sludge.svg" alt="Очистка двигателя">
            <h3>Борьба с шламом и обработка сажи</h3>
            <p>Наши смазочные материалы защищают ваш двигатель от вредного шлама и отложений сажи, которые могут повлиять на надежность и производительность, чтобы увеличить срок службы вашей машины.</p>
        </div>
        <div class="txt_block_urania_block">
           <img src="assets/images/wear.svg" alt="Защита двигателя">
            <h3>Защита от износа</h3>
            <p>Состав наших смазочных материалов обеспечивает высокий уровень защиты от износа, снижая нагрузку на ваше оборудование.</p>
        </div>
        <div class="txt_block_urania_block">
           <img src="/assets/images/stability.svg" alt="Стабильная работа">
            <h3>Стабильность вязкости</h3>
            <p>PETRONAS Arbor борется с сажей и устойчив к окислению, позволяя вашему оборудованию поддерживать оптимальную вязкость и дольше защищать двигатель.</p>
        </div>
        <div class="txt_block_urania_block">
           <img src="assets/images/piston.svg" alt="Чистота двигателя">
            <h3>Чистота поршней</h3>
            <p>Наши смазочные материалы обеспечивают эффективность процесса сгорания в двигателе, гарантируя срок службы жизненно важных компонентов.</p>
        </div>
    </div>
</div>
